fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
numpy==2.3.2
# Use pre-built PyTorch CPU wheels
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.1.0+cpu
torch==2.8.0
transformers==4.55.4
python-dotenv==1.0.1
requests==2.32.5
scikit-learn==1.7.1
